.git
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.env
**/.env.*
**/env
**/env_*
**/.venv
**/venv
**/catalogue_storage
**/storage
**/dataset_snapshots
**/training_runs
**/trained_models
**/trained_models_temp
**/results
