/env_data_ingestion
/prometheus_setup
**/__pycache__
.git
.pytest_cache
.mypy_cache
.ruff_cache
.env
.env.*
catalogue_storage
storage
dataset_snapshots
training_runs
trained_models
trained_models_temp
results
